:root {
  --darkGreen: #104727;
  --palmGreen: #5ca349;
  --oliveGreen: #cefc6b;
  --tintedGrey: rgb(216, 216, 216);
  --mainTurquoise: #31a5a1;
  --mainTeal: #017e94;
  --offWhite: #eeeeee;
  --mainBeige: rgb(224, 224, 214);
  --mainDark: #2b2c2e;
  --mainGrey: rgb(110, 107, 107);
}
body {
  font-family: "Roboto", sans-serif !important;
  background: var(--offWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family: "CantaVerrell", sans-serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.fa-crow {
  color: var(--offWhite);
}
.fa-crow:hover {
  color: white;
}
